<!DOCTYPE html>
<html>
<head>
  <title>My Read Books</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <style>
    body {
      background-color: #F7F9FF;
      padding: 20px;
      font-family: "Helvetica-Neue", sans-serif;
    }
    
    .book-card {
      width: 100%;
      margin-bottom: 20px;
      padding: 10px;
      background-color: #fff;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
      text-align: center;
    }
    
    .book-image {
      max-width: 150px;
      height: auto;
      margin-bottom: 10px;
    }
    
    .book-title {
      font-weight: 300;
      margin-bottom: 5px;
    }
    
    .book-author {
      margin-bottom: 10px;
      font-weight: 300;
    }
    
    .rating {
      color: yellow;
    }
  </style>
</head>
<body>
  <div class="container">
    <center><h1 class="mt-5" color="white" >Book Reviews</h1></center>
    <h5> Disclaimer: <i>This is just like my opinion, man.</i></h5>
    <div class="row">
      
      <div class="col-sm-6 col-md-4">
        <div class="book-card">
          <img src="/images/book_covers/1984.jpeg" alt="Book 1 Cover" class="book-image img-fluid">
          <h5 class="book-title">1984</h5>
          <p class="book-author">George Orwell</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
          <p class="book-review">omg this is literally just like 1984!!1! </p>

        </div>
      </div>

      
      <div class="col-sm-6 col-md-4">
        <div class="book-card">
          <img src="/images/book_covers/candide.jpeg" alt="Book 2 Cover" class="book-image img-fluid">
          <h5 class="book-title">Candide</h5>
          <p class="book-author">Voltaire</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
          <p class="book-review">An entertaining satire of optimism and social institutions. A bit too hyperbolic at times. </p>
          
        </div>
      </div>
      
      <div class="col-sm-6 col-md-4">
        <div class="book-card">
          <img src="/images/book_covers/in_cold_blood.jpeg" alt="Book 1 Cover" class="book-image img-fluid">
          <h5 class="book-title">In Cold Blood</h5>
          <p class="book-author">Truman Capote</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
          <p class="book-review">Capote is one of my favorite authors. His writing style is beautiful and heartbreaking. 
            
            This book in particular contains a profound commentary on nature vs nuture, and an early depiction of the correlation betweeen head injuries and violent behavior.  </p>

        </div>
      </div>
      

      <div class="col-sm-6 col-md-4">
        <div class="book-card">
          <img src="/images/book_covers/poisonwood_bible.jpeg" alt="Book 1 Cover" class="book-image img-fluid">
          <h5 class="book-title">The Poisonwood Bible</h5>
          <p class="book-author">Barbara Kingsolver</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
          <p class="book-review">One of my all time favorites. A great book if you enjoy alterenating narrators. </p>

        </div>
      </div>

      
      <div class="col-sm-6 col-md-4">
        <div class="book-card">
          <img src="/images/book_covers/siddhartha.jpg" alt="Book 2 Cover" class="book-image img-fluid">
          <h5 class="book-title">Siddhartha</h5>
          <p class="book-author">Hermann Hesse</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
          
          <p class="book-review">Not a huge fan- struck me as a "Enlightenment for Dummies". If this book were a person, he's the type to not wear shoes and think he's better than you for it. </p>
          
        </div>
      </div>
      
      <div class="col-sm-6 col-md-4">
        <div class="book-card">
          <img src="/images/book_covers/things_fall_apart.jpeg" alt="Book 1 Cover" class="book-image img-fluid">
          <h5 class="book-title">Things Fall Apart</h5>
          <p class="book-author">Chinua Achebe</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
          <p class="book-review"> They certainly do.</p>
            

        </div>
      </div>

        <div class="col-sm-6 col-md-4">
        <div class="book-card">
          <img src="/images/book_covers/macbeth.jpg" alt="Book 1 Cover" class="book-image img-fluid">
          <h5 class="book-title">Macbeth</h5>
          <p class="book-author">Silly Willy</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
          <p class="book-review">Good, nice and dramatic. </p>
           <p>  Fun fact from Tumblr user piratescarfy:  </p>
            <p>"there was a disastrous performance of Macbeth at the Old Vic by Peter O’Toole and 
            apparently there was this one part in the play one night where a Servant comes in and should say 
            “Your wife, my lord, is dead” but what ACTUALLY happened was  

            <br> Servant: …My wife, my lord, is dead. </br>
            
             <br> Macbeth: Well, what about my wife? </br>
            
             <br> Servant: Oh yeah. She’s dead too.</br>
            
             <br> Macbeth: </br>
            
             <br> Servant: There’s a lot of it about."</br> </p>
            

        </div>
      </div>

          <div class="col-sm-6 col-md-4">
        <div class="book-card">
          <img src="/images/book_covers/a_midsummer_night's_dream.jpeg" alt="Book 1 Cover" class="book-image img-fluid">
          <h5 class="book-title">A Midsummer Night's Dream</h5>
          <p class="book-author">Bill Shicky-Shake</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
          <p class="book-review"> What the Puck? </p>

        </div>
      </div>
    
      <div class="col-sm-6 col-md-4">
        <div class="book-card">
          <img src="/images/book_covers/the_odyssey.jpg" alt="Book 1 Cover" class="book-image img-fluid">
          <h5 class="book-title">The Odyssey</h5>
          <p class="book-author">Homer (not Simpson)</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
          <p class="book-review"> A bad english teacher ruined this classic for me in high school by including reading quizzes 
            that asked hyperspecific details such as the name of the man that fell off the roof (Elpenor). </p>

        </div>
      </div>

        <div class="col-sm-6 col-md-4">
        <div class="book-card">
          <img src="/images/book_covers/frankenstein.jpeg" alt="Book 1 Cover" class="book-image img-fluid">
          <h5 class="book-title">Frankenstein</h5>
          <p class="book-author">Mary Shelley</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
          <p class="book-review"> Excellent. The fact that Shelley wrote this at 18 is mind-blowing. </p>
          <p> "Did I request thee, Maker, from my clay to mould me man? Did I solicit thee from darkness to promote me?" - The Creature, and me after any mild inconvenience</p>

        </div>
      </div>


        <div class="col-sm-6 col-md-4">
        <div class="book-card">
          <img src="/images/book_covers/alice's_adventures_in_wonderland.jpeg" alt="Book 1 Cover" class="book-image img-fluid">
          <h5 class="book-title">Alice's Adventures In Wonderland</h5>
          <p class="book-author">Lewis Carroll</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
          <p class="book-review"> It's a good book, but it's a better book if you have the edition illustrated by Salvador Dali. </p>

        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="book-card">
          <img src="/images/book_covers/flowers_in_the_attic.jpg" alt="Book 1 Cover" class="book-image img-fluid">
          <h5 class="book-title">Flowers in the Attic</h5>
          <p class="book-author">V. C. Andrews</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
          <p class="book-review">Creepy. I would argue that the distrubing themes are sensationalized and not appropriately conveyed the author,
            especially considering it appears to have a younger target audience. I don't shy away from dark topics, but do so when they read more like a fantasy. </p>

        </div>
      </div>

   <div class="col-sm-6 col-md-4">
        <div class="book-card">
          <img src="/images/book_covers/Vincent_by_himself.jpeg" alt="Book 1 Cover" class="book-image img-fluid">
          <h5 class="book-title">Vincent by himself (Vincent Van Goph Letters)</h5>
          <p class="book-author">Bruce Bernard</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
          <p class="book-review"> It always breaks my heart to think of the mental suffering Vincent endured,
            and how he died never knowing how much and for how long his art would be appreciated. </p>
          <p class="book-review"> If I had to pick a conspiracy theory to believe in, it would be the one where Vincent is accidentally shot by a local child instead of by his own hand. </p>
          <p class="book-review"> Fun fact: Hypothetically, if I could have dinner with 5 people (dead or alive, real or fictitious), Vincent is one I think of. See also, Charles Dickens. </p>


        </div>
      </div>

         <div class="col-sm-6 col-md-4">
        <div class="book-card">
          <img src="/images/book_covers/a_doll's_house.jpeg" alt="Book 1 Cover" class="book-image img-fluid">
          <h5 class="book-title">A Doll's House</h5>
          <p class="book-author">Henrik Ibsen</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
          <p class="book-review"> It's interesting how progressive Ibsen was regarding female gender roles and societal expectations for a man born in 1828. </p>


        </div>
      </div>
       <div class="col-sm-6 col-md-4">
        <div class="book-card">
          <img src="/images/book_covers/go_set_a_watchman.jpg" alt="Book 1 Cover" class="book-image img-fluid">
          <h5 class="book-title">Go Set A Watchman</h5>
          <p class="book-author">Harper Lee</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
          <p class="book-review"> I was told this book would ruin <i>To Kill a Mockingbird</i> (TKAM).
           I think it was an interesting insight into the development of TKAM. How did Harper Lee publish one of the most iconic books ever and then just dip?
           I always think about the (disproved) rumors that Capote really was behind TKAM, but Lee stated she didn't want to try to measure up to the success of TKAM with another novel.  </p>


        </div>
      </div>
    
    </div>
       <div class="col-sm-6 col-md-4">
        <div class="book-card">
          <img src="/images/book_covers/great_expectations.jpg" alt="Book 1 Cover" class="book-image img-fluid">
          <h5 class="book-title">Great Expectations</h5>
          <p class="book-author">Charles Dickens</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>

          </div>
          <p class="book-review"> One of my favorites of all time. 
           Joe and Pip's relationship is one of my favorite literary relationships. I really liked the characters and how all their stories intertwined.
          You should also watch the movie adaptation with Douglas Booth in it.</p>


        </div>
      </div>
        <div class="col-sm-6 col-md-4">
        <div class="book-card">
          <img src="/images/book_covers/trifles.jpeg" alt="Book 1 Cover" class="book-image img-fluid">
          <h5 class="book-title">Trifles</h5>
          <p class="book-author">Susan Glaspell</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>

          </div>
          <p class="book-review"> The subtleness is amazing.</p>

   </div>
        </div>
                <div class="col-sm-6 col-md-4">
        <div class="book-card">
          <img src="/images/book_covers/true_grit.jpg" alt="Book 1 Cover" class="book-image img-fluid">
          <h5 class="book-title">True Grit</h5>
          <p class="book-author">Charles Portis</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>

          </div>
          <p class="book-review"> Maddie is such an enjoyable character, and I like the cadence of the writing style.</p>
          <p > "You must be one of those college-educated people. Or maybe even high school."</p>


        </div>
        </div>
            <div class="book-card">
          <img src="/images/book_covers/the_old_man_and_the_sea.png" alt="Book 1 Cover" class="book-image img-fluid">
          <h5 class="book-title">The Old Man and the Sea</h5>
          <p class="book-author">Ernest Hemingway</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>

          </div>
          <p class="book-review"> Probably would have enjoyed more if I didn't have to read it in school.</p>
         </div>
         </div>

        </div>
      </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js"></script>
</body>
</html>

