<!DOCTYPE html>
<html>
  
<head>
  <title>My Read Books</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
 
  <style>
   
    <comment https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp ></comment>
      .row {
      display: flex;
      flex-wrap: wrap;
      padding: 10 10px;
      }
    .column {
      flex: 33.2%;
      max-width: 33.2%;
      padding: 10 15px;
      text-align: center;

    }
    .column img {
      max-width: 200px;
      height: auto;
      margin-bottom: 10px;
      margin-top: 10px;
   
    }
    .book-title {
      font-weight: 300;
      margin-bottom: 5px;
      text-align: center;
    }

    .book-review {
      padding: 5 5px;
      text-align: center;
    }
    .book-author {
      font-weight: 300;
      text-align: center;
    }
    .rating {
      color: gold;
      text-align: center;

    }
    .book-card {
      background-color: Azure;
      padding: 5 5px;
      border-bottom: 2px solid black;

    }
  </style>
</head>
<body>
     <div class="container">
    <center><h1 class="mt-5" color="white" >Book Reviews</h1></center>
    <center><h6> Disclaimer: <i>This is just like my opinion, man.</i></h6></center>
    
    <div class="row">
          <comment COLUMN 1 IS HERE!!!!!!!!!!!!!!!!!!!! ></comment>

      <div class="column">
      
          <div class="book-card">
            <img src="/images/book_covers/1984.jpeg" alt="Book 1 Cover" class="book-image img-fluid">
            <h5 class="book-title">1984</h5>
            <p class="book-author">George Orwell</p>
            <div class="rating">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <p class="book-review">omg this is literally just like 1984!!1! </p>
          </div>

           <div class="book-card">
            <img src="/images/book_covers/animal_farm.jpeg" alt="Book 1 Cover" class="book-image img-fluid">
            <h5 class="book-title">Animal Farm</h5>
            <p class="book-author">George Orwell</p>
            <div class="rating">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <p class="book-review">"All animals are equal, but some animals are more equal than others" </p>
          </div>
  
           <div class="book-card">
            <img src="/images/book_covers/candide.jpeg" alt="Book 2 Cover" class="book-image img-fluid">
            <h5 class="book-title">Candide</h5>
            <p class="book-author">Voltaire</p>
            <div class="rating">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </div>
            <p class="book-review">An entertaining satire of optimism and social institutions. A bit too hyperbolic at times. </p>
           </div>
        
          <div class="book-card">
            <img src="/images/book_covers/in_cold_blood.jpeg" alt="Book 1 Cover" class="book-image img-fluid">
            <h5 class="book-title">In Cold Blood</h5>
            <p class="book-author">Truman Capote</p>
            <div class="rating">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <p class="book-review">Capote is one of my favorite authors. His writing style is beautiful and heartbreaking. 
              This book in particular contains a profound commentary on nature vs nuture, 
              and an early depiction of the correlation betweeen head injuries and violent behavior.  </p>
          </div>
  
          <div class="book-card">
            <img src="/images/book_covers/poisonwood_bible.jpeg" alt="Book 1 Cover" class="book-image img-fluid">
            <h5 class="book-title">The Poisonwood Bible</h5>
            <p class="book-author">Barbara Kingsolver</p>
            <div class="rating">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <p class="book-review">One of my all time favorites. A great book if you enjoy alterenating narrators. </p>
          </div>

      
        <div class="book-card">
          <img src="/images/book_covers/siddhartha.jpg" alt="Book 2 Cover" class="book-image img-fluid">
          <h5 class="book-title">Siddhartha</h5>
          <p class="book-author">Hermann Hesse</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
          
          <p class="book-review">Not a huge fan- struck me as a "Enlightenment for Dummies". If this book were a person, he's the type to not wear shoes and think he's better than you for it. </p>
        </div>

        <div class="book-card">
          <img src="/images/book_covers/to_kill_a_mockingbird.webp" alt="Book 2 Cover" class="book-image img-fluid">
          <h5 class="book-title">To Kill A Mockingbird</h5>
          <p class="book-author">Harper Lee</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
          
          <p class="book-review"> One of my top favorites. </p>
          <p class="book-review"> P.S. Listen to the song Harper Lee by Little Green Cars. </p>
        </div>

        <div class="book-card">
          <img src="/images/book_covers/the_stranger.jpg" alt="Book 2 Cover" class="book-image img-fluid">
          <h5 class="book-title">The Stranger (AKA The Outsider)</h5>
          <p class="book-author">Albert Camus</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
          
          <p class="book-review"> "To die in a car crash is the height of absurd." - Camus</p>

        </div>

               <div class="book-card">
          <img src="/images/book_covers/the_fall.jpeg" alt="Book 2 Cover" class="book-image img-fluid">
          <h5 class="book-title">The Fall</h5>
          <p class="book-author">Albert Camus</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
          
          <p class="book-review">“One plays at being immortal and after a few weeks one doesn't even know whether or not one can hang on till the next day.” </p>

        </div>

         <div class="book-card">
          <img src="/images/book_covers/the_giver.jpeg" alt="Book 2 Cover" class="book-image img-fluid">
          <h5 class="book-title">The Giver</h5>
          <p class="book-author">Lois Lowry</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
          
          <p class="book-review"> "For the first time, he heard something that he knew to be music. He heard people singing. Behind him, across vast distances of space and time, from the place he had left, he thought he heard music too. But perhaps, it was only an echo."</p>

        </div>
        
        <div class="book-card">
          <img src="/images/book_covers/mr_mercedes.jpg" alt="Book 2 Cover" class="book-image img-fluid">
          <h5 class="book-title">Mr. Mercedes</h5>
          <p class="book-author">Stephen King</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
          
          <p class="book-review">Not a huge Stephen King fan and this was mid.</p>

        </div>

         <div class="book-card">
          <img src="/images/book_covers/othello.jpg" alt="Book 2 Cover" class="book-image img-fluid">
          <h5 class="book-title">Othello</h5>
          <p class="book-author">Billy the Quill</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
          
          <p class="book-review" >Wacky Will did it again, another banger.</p>

        </div>

         <div class="book-card">
          <img src="/images/book_covers/The_Importance_of_Being_Earnest.jpeg" alt="Book 2 Cover" class="book-image img-fluid">
          <h5 class="book-title">The Importance of Being Earnest</h5>
          <p class="book-author">Oscar Wilde</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
          
          <p class="book-review" >I LOL'd.</p>
        </div>

         <div class="book-card">
          <img src="/images/book_covers/exile_and_the_kingdom.jpeg" alt="Book 2 Cover" class="book-image img-fluid">
          <h5 class="book-title">Exile and the Kingdom</h5>
          <p class="book-author">Albert Camus</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
          
          <p class="book-review" >Really good collection of short stories. I <3 Camus. </p>
        </div>

      
         <div class="book-card">
          <img src="/images/book_covers/the_glass_menagerie.jpg" alt="Book 2 Cover" class="book-image img-fluid">
          <h5 class="book-title">The Glass Menagerie</h5>
          <p class="book-author">Tennessee Williams</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
          
          <p class="book-review" >Is Mr. Williams from Tennessee? cause this play is the only ten-I-see :) </p>
        </div>

         <div class="book-card">
          <img src="/images/book_covers/the_grapes_of_wrath.jpeg" alt="Book 2 Cover" class="book-image img-fluid">
          <h5 class="book-title">The Grapes of Wrath</h5>
          <p class="book-author">John Steinbeck</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
          
          <p class="book-review" > Devestating, a must-read. Extremely well-developed characters, an intense probing on inequality, scarcity, and the human condition.  </p>
           <p class="book-review" > "In the souls of the people, the grapes of wrath are filling and growing heavy, growing heavy for the vintage." </p>
        </div>
        
         <div class="book-card">
          <img src="/images/book_covers/cannery_row.webp" alt="Book 2 Cover" class="book-image img-fluid">
          <h5 class="book-title">Cannery Row</h5>
          <p class="book-author">John Steinbeck</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
          
          <p class="book-review" >At first I thought the title was Canary Row for some reason and was waiting for a bird RIP. Still really good. </p>
        </div>

        <div class="book-card">
          <img src="/images/book_covers/travels_with_charley.jpg" alt="Book 2 Cover" class="book-image img-fluid">
          <h5 class="book-title">Travels with Charley: In Search of America</h5>
          <p class="book-author">John Steinbeck</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
          
          <p class="book-review" > "I wonder why progress looks so much like destruction." Really interesting. </p>
        </div>

             <div class="book-card">
          <img src="/images/book_covers/of_mice_and_men.jpeg" alt="Book 2 Cover" class="book-image img-fluid">
          <h5 class="book-title">Of Mice and Men</h5>
          <p class="book-author">John Steinbeck</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
          
          <p class="book-review" > So insanely amazing and heartbreaking. </p>
        </div>

          <div class="book-card">
          <img src="/images/book_covers/the_pearl.jpeg" alt="Book 2 Cover" class="book-image img-fluid">
          <h5 class="book-title">The Pearl</h5>
          <p class="book-author">John Steinbeck</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
          
          <p class="book-review" > You can probably tell that I am a Steinbeck fan by now. It's a shorter read. </p>
        </div>
      
       <div class="book-card">
          <img src="/images/book_covers/brave_new-world.jpg" alt="Book 2 Cover" class="book-image img-fluid">
          <h5 class="book-title">Brave New World</h5>
          <p class="book-author">Aldous Huxley</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
          
          <p class="book-review" > Classic for a reason. Related Song recommendation: I Thought the Future Would Be Cooler by Yacht. </p>
        </div>

          <div class="book-card">
          <img src="/images/book_covers/stoner.jpeg" alt="Book 2 Cover" class="book-image img-fluid">
          <h5 class="book-title">Stoner</h5>
          <p class="book-author">John Williams</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
          
          <p class="book-review" > Ripped a hole in me for weeks, 10/10. </p>
        </div>

             <div class="book-card">
          <img src="/images/book_covers/the_things_they_carried.jpeg" alt="Book 2 Cover" class="book-image img-fluid">
          <h5 class="book-title">The Things They Carried</h5>
          <p class="book-author"> Tim O'Brien</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
          
          <p class="book-review" > Stunning. Just completely and utterly amazing. </p>
        </div>
      
      
         <div class="book-card">
          <img src="/images/book_covers/a_farewell_to_arms.jpeg" alt="Book 2 Cover" class="book-image img-fluid">
          <h5 class="book-title">A Farewell to Arms</h5>
          <p class="book-author">Ernest Hemingway</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
          
          <p class="book-review" >“I love you enough now. What do you want to do? Ruin me?” </p>

           <p class="book-review">“Yes. I want to ruin you.”</p>

         <p class="book-review">“Good,” I said. “That’s what I want too.” </p>
        </div>
      
    </div>


    <div class="column">
              <comment COLUMN 2 IS HERE!!!!!!!!!!!!!!!!!!!! ></comment>

      
          <div class="book-card">
            <img src="/images/book_covers/things_fall_apart.jpeg" alt="Book 1 Cover" class="book-image img-fluid">
            <h5 class="book-title">Things Fall Apart</h5>
            <p class="book-author">Chinua Achebe</p>
            <div class="rating">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <p class="book-review"> They certainly do.</p>
          </div>

        <div class="book-card">
          <img src="/images/book_covers/macbeth.jpg" alt="Book 1 Cover" class="book-image img-fluid">
          <h5 class="book-title">Macbeth</h5>
          <p class="book-author">Silly Willy</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
          <p class="book-review">Good, nice and dramatic. Has my favorite Billy quote, "What, you egg!" </p>
           <p>  Fun fact from Tumblr user piratescarfy:  </p>
            <p>"there was a disastrous performance of Macbeth at the Old Vic by Peter O’Toole and 
            apparently there was this one part in the play one night where a Servant comes in and should say 
            “Your wife, my lord, is dead” but what ACTUALLY happened was  

            <br> Servant: …My wife, my lord, is dead. </br>
            
             <br> Macbeth: Well, what about my wife? </br>
            
             <br> Servant: Oh yeah. She’s dead too.</br>
            
             <br> Macbeth: </br>
            
             <br> Servant: There’s a lot of it about."</br> </p>
            
        </div>

          <div class="book-card">
            <img src="/images/book_covers/a_midsummer_night's_dream.jpeg" alt="Book 1 Cover" class="book-image img-fluid">
            <h5 class="book-title">A Midsummer Night's Dream</h5>
            <p class="book-author">Bill Shicky-Shake</p>
            <div class="rating">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <p class="book-review"> What the Puck? </p>
  
        </div>
      
          <div class="book-card">
            <img src="/images/book_covers/the_odyssey.jpg" alt="Book 1 Cover" class="book-image img-fluid">
            <h5 class="book-title">The Odyssey</h5>
            <p class="book-author">Homer (not Simpson)</p>
            <div class="rating">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </div>
            <p class="book-review"> A bad english teacher ruined this classic for me in high school by including reading quizzes 
              that asked hyperspecific details such as the name of the man that fell off the roof (Elpenor). </p>
  
        </div>
  
          <div class="book-card">
            <img src="/images/book_covers/frankenstein.jpeg" alt="Book 1 Cover" class="book-image img-fluid">
            <h5 class="book-title">Frankenstein</h5>
            <p class="book-author">Mary Shelley</p>
            <div class="rating">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <p class="book-review"> Excellent. The fact that Shelley wrote this at 18 is mind-blowing. </p>
            <p> "Did I request thee, Maker, from my clay to mould me man? Did I solicit thee from darkness to promote me?" - The Creature, and me after any mild inconvenience</p>
  
        </div>

             <div class="book-card">
            <img src="/images/book_covers/the_picture_of_dorian_gray.jpeg" alt="Book 1 Cover" class="book-image img-fluid">
            <h5 class="book-title">The Picture of Dorian Gray</h5>
            <p class="book-author">Oscar Wilde</p>
            <div class="rating">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <p class="book-review"> A wilde read ;) </p>
  
        </div>
  
  
          <div class="book-card">
            <img src="/images/book_covers/alice's_adventures_in_wonderland.jpeg" alt="Book 1 Cover" class="book-image img-fluid">
            <h5 class="book-title">Alice's Adventures In Wonderland</h5>
            <p class="book-author">Lewis Carroll</p>
            <div class="rating">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </div>
            <p class="book-review"> It's a good book, but it's a better book if you have the edition illustrated by Salvador Dali. </p>
  
        </div>

      
          <div class="book-card">
            <img src="/images/book_covers/flowers_in_the_attic.jpg" alt="Book 1 Cover" class="book-image img-fluid">
            <h5 class="book-title">Flowers in the Attic</h5>
            <p class="book-author">V. C. Andrews</p>
            <div class="rating">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </div>
            <p class="book-review">Creepy. I would argue that the distrubing themes are sensationalized and not appropriately conveyed the author,
              especially considering it appears to have a younger target audience. I don't shy away from dark topics, but do so when they read more like a fantasy. </p>
        </div>

         <div class="book-card">
            <img src="/images/book_covers/days_off.jpeg" alt="Book 1 Cover" class="book-image img-fluid">
            <h5 class="book-title">Days Off</h5>
            <p class="book-author">Henry van Dyke</p>
            <div class="rating">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </div>
            <p class="book-review">I found an old edition from 1908 in a thrift store for two dollars. It was good, relaxing and Henry is a wise guy.  </p>
        </div>

             <div class="book-card">
            <img src="/images/book_covers/farenheit_451.webp" alt="Book 1 Cover" class="book-image img-fluid">
            <h5 class="book-title">Fahrenheit 451</h5>
            <p class="book-author">Ray Bradbury</p>
            <div class="rating">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </div>
            <p class="book-review">It was lit.</p>
        </div>

         <div class="book-card">
            <img src="/images/book_covers/the_catcher_in_the_rye.jpeg" alt="Book 1 Cover" class="book-image img-fluid">
            <h5 class="book-title">The Catcher in the Rye</h5>
            <p class="book-author">J. D. Salinger</p>
            <div class="rating">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <p class="book-review">The J. D. in J.D. Salinger stands for Jaw Dropping, cause this was great. </p>
        </div>

         <div class="book-card">
            <img src="/images/book_covers/hard_times.jpeg" alt="Book 1 Cover" class="book-image img-fluid">
            <h5 class="book-title">Hard Times</h5>
            <p class="book-author">Charles Dickens</p>
            <div class="rating">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </div>
            <p class="book-review">I liked it a lot, good critiques of the times, but it just wasn't as amazing as his other works. I guess Great Expectations set my own expectations a little too high.  </p>
        </div>

         <div class="book-card">
            <img src="/images/book_covers/breakfast_of_champions.jpeg" alt="Book 1 Cover" class="book-image img-fluid">
            <h5 class="book-title">Breakfast of Champions</h5>
            <p class="book-author">Kurt Vonnegut</p>
            <div class="rating">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <p class="book-review">Nobody even comes close to Vonnegut. </p>
        </div>

         <div class="book-card">
            <img src="/images/book_covers/the_sirens_of_titan.jpeg" alt="Book 1 Cover" class="book-image img-fluid">
            <h5 class="book-title">The Sirens of Titan</h5>
            <p class="book-author">Kurt Vonnegut</p>
            <div class="rating">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <p class="book-review">"the Universe is an awfully big place. There is room enough for an awful lot of people to be right about things and still not agree.” </p>
        </div>

               <div class="book-card">
            <img src="/images/book_covers/welcome_to_the_monkey_house.jpeg" alt="Book 1 Cover" class="book-image img-fluid">
            <h5 class="book-title">Welcome to the Monkey House</h5>
            <p class="book-author">Kurt Vonnegut</p>
            <div class="rating">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <p class="book-review">Harrison Bergeron is such a good story that not even having to read it three different times in school ruined it. Also the other stories were great. </p>
        </div>


        <div class="book-card">
            <img src="/images/book_covers/the_early_stories_of_truman_capote.jpg" alt="Book 1 Cover" class="book-image img-fluid">
            <h5 class="book-title">The Early Stories of Truman Capote</h5>
            <p class="book-author">Guess Who</p>
            <div class="rating">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <p class="book-review">Yeah I just really like Capote; he's so talented with imagery and portraying complex characters. </p>
        </div>
      
       <div class="book-card">
            <img src="/images/book_covers/the_complete_stories_of_truman_capote.jpeg" alt="Book 1 Cover" class="book-image img-fluid">
            <h5 class="book-title">The Complete Stories of Truman Capote</h5>
            <p class="book-author">Hmmmm Who Could It Be</p>
            <div class="rating">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <p class="book-review">A Christmas Memory is a classic and the others are just as worthwhile. </p>
        </div>

             <div class="book-card">
            <img src="/images/book_covers/erewhon.jpeg" alt="Book 1 Cover" class="book-image img-fluid">
            <h5 class="book-title">Erewhon</h5>
            <p class="book-author">Samuel Butler</p>
            <div class="rating">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <p class="book-review">I love a good anagram. Super interesting perspective on sentient machines published in 1872.</p>
        </div>

           <div class="book-card">
            <img src="/images/book_covers/the_time_machine.jpeg" alt="Book 1 Cover" class="book-image img-fluid">
            <h5 class="book-title">The Time Machine</h5>
            <p class="book-author">H.G. Wells</p>
            <div class="rating">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <p class="book-review">I read this book on Wattpad on my iPod touch when I was 10 (under the covers, past my bedtime), and loved it but couldn't remember the title. So when I accidentally reread it at 19, I was so happy to have found it again.</p>
            <p class="book-review">Small spoiler: I love crabs at the end, and the entire ending in general. Carcinisation for the win. </p>
            <p class="book-review">“There are really four dimensions, three which we call the three planes of Space, and a fourth, Time.” - H.G. Wells, 1895 </p>
          </div>

          <div class="book-card">
            <img src="/images/book_covers/the_invisible_man.jpeg" alt="Book 1 Cover" class="book-image img-fluid">
            <h5 class="book-title">The Invisible Man</h5>
            <p class="book-author">H.G. Wells</p>
            <div class="rating">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <p class="book-review"> “Every conceivable sort of silly creature that has ever been created has been sent to cross me.” </p>
          </div>

       <div class="book-card">
            <img src="/images/book_covers/the_war_of_worlds.jpeg" alt="Book 1 Cover" class="book-image img-fluid">
            <h5 class="book-title">The War of The Worlds</h5>
            <p class="book-author">H.G. Wells</p>
            <div class="rating">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <p class="book-review"> “Few people realise the immensity of vacancy in which the dust of the material universe swims.” </p>
                     <p class="book-review"> “Perhaps I am a man of exceptional moods. I do not know how far my
                experience is common. At times I suffer from the strangest sense of
                detachment from myself and the world about me; I seem to watch it all
                from the outside, from somewhere inconceivably remote, out of time,
                out of space, out of the stress and tragedy of it all. This feeling
                was very strong upon me that night. Here was another side to my  dream.” </p>
       </div>

         <div class="book-card">
            <img src="/images/book_covers/wuthering_heights.jpeg" alt="Book 1 Cover" class="book-image img-fluid">
            <h5 class="book-title">Wuthering Heights</h5>
            <p class="book-author">Emily Bronte</p>
            <div class="rating">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <p class="book-review">Dark, complex, good. </p>
          </div>

        <div class="book-card">
            <img src="/images/book_covers/me_talk_pretty_one_day.jpg" alt="Book 1 Cover" class="book-image img-fluid">
            <h5 class="book-title">Me Talk Pretty One Day</h5>
            <p class="book-author">David Sedaris</p>
            <div class="rating">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <p class="book-review">Extremely funny, filled with sharp quips.  </p>
          </div>
      

      <div class="book-card">
            <img src="/images/book_covers/robinson_crusoe.jpeg.jpeg" alt="Book 1 Cover" class="book-image img-fluid">
            <h5 class="book-title">Robinson Crusoe</h5>
            <p class="book-author">Daniel Defoe</p>
            <div class="rating">
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </div>
            <p class="book-review">No character development, sloppy boring unrealistic writing, baseless religious propaganda.   </p>
           <p class="book-review"> Written in 1719, seemingly evidently before wit was introduced to British literature (Brit Lit?) yet the Rape of the Lock and Gulliver's Travels disprove this theory. </p>

          </div>

      
      <div class="book-card">
            <img src="/images/book_covers/robinson_crusoe.jpeg.jpeg" alt="Book 1 Cover" class="book-image img-fluid">
            <h5 class="book-title">The Rape of the Lock</h5>
            <p class="book-author">Alexander Pope</p>
            <div class="rating">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </div>
            <p class="book-review"> Hilarious. Makes me want to write a satirical epic narrative about some petty modern drama.   </p>

          </div>
      
      
   </div>


      
  <div class="column">
   <comment COLUMN 3  IS HERE!!!!!!!!!!!!!!!!!!!! ></comment>

      <div class="book-card">
          <img src="/images/book_covers/the_brothers_karamazov.jpeg" alt="Book 1 Cover" class="book-image img-fluid">
          <h5 class="book-title">The Brothers Karamazov</h5>
          <p class="book-author">Fyodor Dostoevsky</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
          <p class="book-review">Look I know it's a tome, but it's worth it. An intense exploration of the human condition. </p>
         <p class="book-review"> “The more I love humanity in general, the less I love man in particular.” </p>

       
      </div>
    
      <div class="book-card">
          <img src="/images/book_covers/strange_case_of_dr_jekyll_and_mr_hyde.jpeg" alt="Book 1 Cover" class="book-image img-fluid">
          <h5 class="book-title">Strange Case of Dr. Jekyll and Mr. Hyde</h5>
          <p class="book-author">Robert Louis Stevenson</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
          <p class="book-review">“If he be Mr. Hyde,” he had thought, “I shall be Mr. Seek.” </p>
      </div>
    
        <div class="book-card">
          <img src="/images/book_covers/Vincent_by_himself.jpeg" alt="Book 1 Cover" class="book-image img-fluid">
          <h5 class="book-title">Vincent by himself (Vincent Van Goph Letters)</h5>
          <p class="book-author">Bruce Bernard</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
          <p class="book-review"> It always breaks my heart to think of the mental suffering Vincent endured,
            and how he died never knowing how much and for how long his art would be appreciated. </p>
          <p class="book-review"> If I had to pick a conspiracy theory to believe in, it would be the one where Vincent is accidentally shot by a local child instead of by his own hand. </p>
          <p class="book-review"> Fun fact: Hypothetically, if I could have dinner with 5 people (dead or alive, real or fictitious), Vincent is one I think of. See also, Charles Dickens. </p>

      </div>

        <div class="book-card">
          <img src="/images/book_covers/a_doll's_house.jpeg" alt="Book 1 Cover" class="book-image img-fluid">
          <h5 class="book-title">A Doll's House</h5>
          <p class="book-author">Henrik Ibsen</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
          <p class="book-review"> It's interesting how progressive Ibsen was regarding female gender roles and societal expectations for a man born in 1828. </p>
      </div>

      <div class="book-card">
          <img src="/images/book_covers/go_set_a_watchman.jpg" alt="Book 1 Cover" class="book-image img-fluid">
          <h5 class="book-title">Go Set A Watchman</h5>
          <p class="book-author">Harper Lee</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
          <p class="book-review"> I was told this book would ruin <i>To Kill a Mockingbird</i> (TKAM).
           I think it was an interesting insight into the development of TKAM. How did Harper Lee publish one of the most iconic books ever and then just dip?
           I always think about the (disproved) rumors that Capote really was behind TKAM, but Lee stated she didn't want to try to measure up to the success of TKAM with another novel.  </p>    
    </div>
        <div class="book-card">
          <img src="/images/book_covers/great_expectations.jpg" alt="Book 1 Cover" class="book-image img-fluid">
          <h5 class="book-title">Great Expectations</h5>
          <p class="book-author">Charles Dickens</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>

          </div>
          <p class="book-review"> One of my favorites of all time. 
           Joe and Pip's relationship is one of my favorite literary relationships. I really liked the characters and how all their stories intertwined.
          You should also watch the movie adaptation with Douglas Booth in it.</p>
      </div>

    
        <div class="book-card">
          <img src="/images/book_covers/trifles.jpeg" alt="Book 1 Cover" class="book-image img-fluid">
          <h5 class="book-title">Trifles</h5>
          <p class="book-author">Susan Glaspell</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>

          </div>
          <p class="book-review"> The subtlety is amazing.</p>

     </div>

      <div class="book-card">
          <img src="/images/book_covers/true_grit.jpg" alt="Book 1 Cover" class="book-image img-fluid">
          <h5 class="book-title">True Grit</h5>
          <p class="book-author">Charles Portis</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>

          </div>
          <p class="book-review"> Mattie is such an enjoyable character, and I like the cadence of the writing style.</p>
          <p > "You must be one of those college-educated people. Or maybe even high school."</p>

        </div>
    
            <div class="book-card">
          <img src="/images/book_covers/the_old_man_and_the_sea.png" alt="Book 1 Cover" class="book-image img-fluid">
          <h5 class="book-title">The Old Man and the Sea</h5>
          <p class="book-author">Ernest Hemingway</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>

          </div>
          <p class="book-review"> Probably would have enjoyed more if I didn't have to read it in school.</p>
         </div>
      
        <div class="book-card">
          <img src="/images/book_covers/other_voices_other_rooms.jpeg" alt="Book 1 Cover" class="book-image img-fluid">
          <h5 class="book-title">Other Voices, Other Rooms</h5>
          <p class="book-author">Truman Capote</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>

          </div>
          <p class="book-review"> My mind always floats back to this book; the imagery and themes are so fascinating. </p>
         </div>

        
        <div class="book-card">
          <img src="/images/book_covers/I'm_Thinking_of_Ending_Things.jpeg" alt="Book 1 Cover" class="book-image img-fluid">
          <h5 class="book-title">I'm Thinking of Ending Things</h5>
          <p class="book-author">Iain Reid</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>

          </div>
          <p class="book-review"> Rarely do I reread books, but I've reread this one almost every year. It's amazing and I recommend it to everyone I know. Possibly my favorite book. </p>
         </div>


          <div class="book-card">
          <img src="/images/book_covers/A_Tale_of_Two_Cities.webp" alt="Book 1 Cover" class="book-image img-fluid">
          <h5 class="book-title">A Tale of Two Cities</h5>
          <p class="book-author">Darles Chickens</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>

          </div>
          <p class="book-review"> Made me want to learn how to knit. </p>
         </div>

         <div class="book-card">
          <img src="/images/book_covers/Gathering_Blue.jpeg" alt="Book 1 Cover" class="book-image img-fluid">
          <h5 class="book-title">Gathering Blue</h5>
          <p class="book-author">Lois Lowry</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>

          </div>
          <p class="book-review"> Neat book. </p>
         </div>

          <div class="book-card">
          <img src="/images/book_covers/Lord_of_the_Flies.jpeg" alt="Book 1 Cover" class="book-image img-fluid">
          <h5 class="book-title">Lord of the Flies</h5>
          <p class="book-author">William Golding</p>
          <div class="rating">
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>

          </div>
          <p class="book-review"> Controversial but this book is awful and I stand by that. 
            It's an unrealistic, pessemestic, clunky, and one-dimensional flawed allegory that makes the fatal mistake of not including female characters partially because, in Golding's own words (source: preface of his own narration of the audiobook), sex would have had to belong in the story (of 6 to 12 year olds). 
            Has Golding ever met a child, a woman, or a person? People and society are far more complex than he gives credit for, and the points he tries to push are not dissimilar to an edgy 12 year old posting on Facebook "humans are just animals in suits".
          </p>
            
          </div>

        <div class="book-card">
          <img src="/images/book_covers/gulliver's_travels.jpeg" alt="Book 1 Cover" class="book-image img-fluid">
          <h5 class="book-title">Gulliver's Travels</h5>
          <p class="book-author">Jonathan Swift</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>

          </div>
          <p class="book-review"> So entertaining and funny.</p>
         </div>

      <div class="book-card">
          <img src="/images/book_covers/lolita.jpeg" alt="Book 1 Cover" class="book-image img-fluid">
          <h5 class="book-title">Lolita</h5>
          <p class="book-author">Vladimir Nabokov</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>

          </div>
          <p class="book-review"> The prose is spectular; a bitter, disgusting tragedy unreliably narrated by a charming perpetrator.   </p>
        <p class="book-review"> Unfortunately the film adaptations and publishing industry (misleading covers) failed in portraying the complexity of the novel, leading to horrific romantization of abhorrent themes. </p>
         <p class="book-review"> Personally I think it was Nabokov's goal to show how eloquent some monsters can be and how depraved we all are for falling for it, especially when you consider claims by some that Nabokov himself may have been sexually abused by his wealthy uncle. </p>

        <p class="book-review"> SPOILER: It's always been my take that Humbert murdered Charlotte. Nabokov wouldn't be so sloppy with his plot to make a convinient death like that, and Humbert constantly fantasized about her death in very specific ways. The ambiguity is part of the appeal though. </p>
         <p class="book-review"> I could write a lot in this review, but thinking about the book and society's reception of it for too long makes me want to throw up. </p>

         </div>
    
      
      <div class="book-card">
          <img src="/images/book_covers/as_i_lay_dying.jpeg" alt="Book 1 Cover" class="book-image img-fluid">
          <h5 class="book-title">As I Lay Dying</h5>
          <p class="book-author"> William Faulkner</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>

          </div>
          <p class="book-review"> Absolutely amazing, genuis execution of stream of consciousness and symbolism. Every single line has at least one but usually several words that individually strike you as masterfully chosen. </p>
          <p class="book-review"> Faulkner has an almost inhuman sense of time and space; seriously consider this quote in the context of Einstein's spacetime continuum: </p>
        <p class="book-review">"It is as though the space between us were time: an irrevocable quality.
              It is as though time, no longer running straight before us in a diminishing line, now runs parallel between us like a looping string, 
            the distance being the doubling accretion of the thread and not the interval between." </p>
        <p class="book-review">The James Franco film adaptation was great as well. </p>
         <p class="book-review">In my top 5 favorites (maybe, it's hard to pick). Somehow the Sound and the Fury is even better though.  </p>
          <p class="book-review">"My mother is a fish." </p>
         </div>
       </div>

      
  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js"></script>
</body>
</html>



