<!DOCTYPE html>
<html>
  <comment https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp ></comment>
  <style>
      .row {
      display: flex;
      flex-wrap: wrap;
      padding: 0 4px;
    }
    
    .column {
      flex: 24.2%;
      max-width: 24.2%;
      padding: 0 4px;

    }
    
    .column img {
      margin-top: 8px;
      vertical-align: middle;
      width: 100%;
    }
    
   
  </style>

<body>
 <div class="row">
  <div class="column">
      <img src="../../images/art/IMG_5249.JPG" alt="girlwithbrownhair">
      <img src="../../images/art/IMG_4355.JPG" alt="computer girl">
      <img src="../../images/art/Eternal_Monday.JPG" alt="Artwork 5">
      <img src="../../images/art/IMG_5002.JPG" alt="Artwork 3">
      <img src="../../images/art/Van_Lexapro.JPG" alt="Artwork 5">
      <img src="../../images/art/IMG_0511.JPG" alt="Artwork 6">
    
      <img src="../../images/art/IMG_0518.JPG" alt="Artwork 5">
      <img src="../../images/art/IMG_0707.JPG" alt="Artwork 5">
      <img src="../../images/art/IMG_1543.jpeg" alt="creation">  
      <img src="../../images/art/IMG_4894.jpg" alt="girl pencil portrait">
      <img src="../../images/art/IMG_4326.JPG" alt="glasses">  

      <img src="../../images/art/IMG_0587.JPG" alt="Artwork 9">
  </div>
    
  <div class="column">
      <img src="../../images/art/The_Great_Depression.JPG" alt="Artwork 2">
      <img src="../../images/art/IMG_0632 4.30.00 PM.jpeg" alt="Artwork 11">
      <img src="../../images/art/IMG_4305.JPG" alt="creation">  
      <img src="../../images/art/IMG_1028.JPG" alt="Artwork 3">
      <img src="../../images/art/IMG_1138.jpeg" alt="Artwork 3">
      <img src="../../images/art/IMG_1140.jpeg" alt="Artwork 3">
      <img src="../../images/art/IMG_1141 3.50.16 PM.jpeg" alt="Artwork 3">
      <img src="../../images/art/IMG_1142.jpeg" alt="Artwork 3">
      <img src="../../images/art/sketch1.JPG" alt="Artwork 3">

      <img src="../../images/art/sketch2.JPG" alt="Artwork 3">
      <img src="../../images/art/sketch3.JPG" alt="Artwork 3">
      <img src="../../images/art/snek.jpeg" alt="snek">
      <img src="../../images/art/IMG_4490.JPG" alt="all-consuming">
      <img src="../../images/art/Elsewhere.JPG" alt="Artwork 3">
      <img src="../../images/art/A_Puddle_With_Legsjpeg.jpeg" alt="Artwork 4">
  </div>

     
  <div class="column">
      <img src="../../images/art/IMG_4973.JPG" alt="girl with black hair">
      <img src="../../images/art/IMG_1606.jpeg" alt="trapped">
      <img src="../../images/art/IMG_4968.JPG" alt="Artwork 3">
      <img src="../../images/art/IMG_4941.JPG" alt="Artwork 3">
      <img src="../../images/art/IMG_4373.JPG" alt="Artwork 3">
      <img src="../../images/art/IMG_1318 4.01.25 PM.jpeg" alt="Artwork 3">
      <img src="../../images/art/IMG_4881 3.33.20 PM.jpeg" alt="Artwork 3">
      <img src="../../images/art/IMG_0597.JPG" alt="Artwork 10">
      <img src="../../images/art/astro.jpeg" alt="Artwork 3">
  </div>
   
  <div class="column">
      <img src="../../images/art/IMG_0718.JPG" alt="red paint face">
      <img src="../../images/art/IMG_4968.JPG" alt="Artwork 3">
      <img src="../../images/art/IMG_4941.JPG" alt="Artwork 3">
      <img src="../../images/art/IMG_4373.JPG" alt="Artwork 3">
      <img src="../../images/art/IMG_1318 4.01.25 PM.jpeg" alt="Artwork 3">
      <img src="../../images/art/IMG_4881 3.33.20 PM.jpeg" alt="Artwork 3">
      <img src="../../images/art/IMG_5061.jpeg" alt="Artwork 3">
      <img src="../../images/art/astro.jpeg" alt="Artwork 3">
  </div>
</div> 

</body>
</html>
