<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta http-equiv="content-type"
        content="text/html; charset=UTF-8">
 
    <meta name="viewport" content="width=device-width,
        minimum-scale=1,initial-scale=1">
 
    <script src=
        "https://code.jquery.com/jquery-3.3.1.min.js">
    </script>
 
    <script src= 
	"https://unpkg.com/jquery.terminal/js/jquery.terminal.min.js">
    </script>
 
    <link rel="stylesheet" href= "https://unpkg.com/jquery.terminal/css/jquery.terminal.min.css" />
 
    <style type="text/css">
        .terminal,
        span,
        .cmd,
        div {
            --color: rgb(127, 255, 0);
        }
 
        .terminal,
        span {
            --size: 1.2;
        }
    </style>
	
</head>
	
<body>
<script>
$('body').terminal({
   showme: function (name) {
        this.echo('       _                         __  __       ____            _              \n'            
+'      / \\\__   _____ _ __ _   _  |  \\\/  | ___ / ___|__ _ _   _| | ___ _   _   \n' 
+'     / _ \\\\ \ / / _ \\\  __| | | | | |\\\/| |/ __| |   / _` | | | | |/ _ \\\ | | |  \n'
+'    / ___ \\\ V /  __/ |  | |_| | | |  | | (__| |__| (_| | |_| | |  __/ |_| |  \n'
+'   /_/   \_\\\\_/ \\\___|_|   \\\__, | |_|  |_|\\\___|\\\____\\\__,_|\\\__,_|_|\\\___|\\\__, |  \n'
+'                          |___/                                       |___/  \n');
    },

   about_me: function () {
        this.echo('\n Hello World! \n '
	+ 'My name is Avery, and I am passionate about cybersecurity and a career in penetration testing. \n'
	+ ' I love solving puzzles and nothing beats the rush of figuring out a bug or finding an elegant (ethical) hack. \n'
	+ ' I graduated from CU Boulder (sko Buffs!) with dual degrees in Computer Science and Business.\n'
        + ' Outside of my interests in cybersecurity, I find joy in playing volleyball or volunteering at the Saint Francis Center to assist those experiencing homelessness. \n'
	+ ' I also love to read, play piano, and make art. \n');
    },
    
    education: function () {
		this.echo('\n University of Colorado Boulder: \n'
			  + ' College of Engineering and Applied Science: B.A. - Computer Science \n'
			  + ' Leeds School of Business: B.S. - Information Management \n');
    },
    
    work_experience: function (){
    	this.echo('\n Advance Summer Intern - PricewaterhouseCoopers            Summer 2022 \n'
	+ ' - Completed mock penetration test challenges, including exploiting insecure network protocols,\n'
	+ ' analyzing LSASS process memory dumps, kerberoasting, navigating Active Directory, lateral movement, and privilege escalation\n'
	+ ' - Developed a custom Google App Script to automate a data entry process with the potential to save over 20 hours of manual labor\n'
	+ '\n'
	+ 'Lead IT Technician - Leeds School of Business             2020 - 2023 \n'
	+ ' - Supported Windows and MacOS machines, including experience in virus removal and data back-ups \n'
	+ ' - Utilized troubleshooting skills to solve problems on the spot in a dynamic technology environment \n'
	+ ' - Developed effective communication skills regarding complex technical issues with non-technical target audiences \n');
    }, 
    
}, {
    greetings: 'The resume of:\n'+ 
   '       _                         __  __       ____            _              \n'            
+'      / \\\__   _____ _ __ _   _  |  \\\/  | ___ / ___|__ _ _   _| | ___ _   _   \n' 
+'     / _ \\\\ \ / / _ \\\  __| | | | | |\\\/| |/ __| |   / _` | | | | |/ _ \\\ | | |  \n'
+'    / ___ \\\ V /  __/ |  | |_| | | |  | | (__| |__| (_| | |_| | |  __/ |_| |  \n'
+'   /_/   \_\\\\_/ \\\___|_|   \\\__, | |_|  |_|\\\___|\\\____\\\__,_|\\\__,_|_|\\\___|\\\__, |  \n'
+'                          |___/                                       |___/  \n'
+ 'Enter any of the following commands:\n' + '  about_me\n' + '  education\n' + '  work_experience\n'
});

</script>
</body>
</html>
